.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(242, 242, 242);
  position: relative;
  bottom: 0;
  left: 0;
  height: 10%;
  width: 100%;
  color: rgb(27, 27, 27);
}


.social-container {
    background: #eee;
    padding: 25px 50px;
}

a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
}

a.social:hover {
    transform: translateY(-2px);
}

a.youtube {
    color: #eb3223;
}

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: black;
}